<div id="burgers-to-eat" class="burger-list">
  <h2 class="mdc-theme--primary-light-bg mdc-theme--text-primary-on-primary-light">Yum yum eat 'em up!</h2>
  {{#each burgers}}
    {{#unless devoured}}
      <div class="burger-item">
        <p>{{id}}. {{burger_name}}</p>
        <button class="burger-item__button mdc-button mdc-button--raised mdc-theme--secondary-bg mdc-theme--text-primary-on-secondary" data-id="{{id}}">Yum! Feed me!</button>
      </div>
    {{/unless}}
  {{/each}}
</div>
<div id="devoured-burgers" class="burger-list">
  <h2 class="mdc-theme--primary-light-bg mdc-theme--text-primary-on-primary-light">Yum yum those were good!</h2>
  {{#each burgers}}
    {{#if devoured}}
      <div class="burger-item">{{id}}. {{burger_name}}</div>
    {{/if}}
  {{/each}}
</div>
